/* esercizio 1 */

.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}

/* esercizio 2 */

.ex-2-square{
    transition: 2s;
}

.ex-2-square:active{
    width: 100%;
}

/* esercizio 3 */

.ex-3-square{
    transition: 1s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* esercizio 4 */

.ex-4-square{
    transition: 1s;
}

.ex-4-square:hover{
    background-color: whitesmoke;
}

/* esercizio 5 */

.ex-5-square{
    transition: 1s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* esercizio 7 */

.ex-7-img{
    transition: 1s;
}

.ex-7-img:hover{
    filter: sepia(0.6);
    filter: grayscale(0.7);
}

/* esercizio 8 */

.ex-8-img{
    transition: 1s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: sepia(0.8);
    filter: saturate(0.9);
}

/* esercizio 9 */

.ex-9-img{
    transition: 2s;
}

.ex-9-img:hover{
    transform: scale(1.5);
    border-radius: 20px;
    filter: grayscale(0.6);
    filter: sepia(0.5);
}

/* esercizio 10 */

.ex-10-icon{
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}